body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
}

.glass-card {
      width: auto;
      height: auto;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
      width: fit-content;
      margin: 0;
      
    }


.divseparate{
    padding-bottom: 1dvh;
}

#maintitle {
    text-align: center;
    font-family: "Libre Caslon Condensed", serif;
    font-optical-sizing: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    padding: 0;
    margin: 0;
    color: rgba(249, 249, 249, 0.521);
}
#seleccion {
    text-align: left;
    font-family: "Libre Caslon Condensed", serif;
    font-size: 5dvh;
    padding-left: 5%;
    width:fit-content;
    padding-top: 1dvh;
}
#labsh2{
    padding: 0;
    margin: 0;
}
#proyectoh2{
    padding: 0;
    margin: 0;
}

.referencias{
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
    color: rgba(249, 249, 249, 0.521);
    transition: all 0.3s ease;
}

.referencias:hover{
    text-shadow: 0 0 5px #c7b8b8, 0 0 0.5px #ece2e2, 0 0 3px #eadddd;
    text-decoration-color:rgba(249, 249, 249, 0.521);
}

